/* menus.css */

#menu-heading {
    display: block;
    border-bottom: 1px solid #eee;
}

#menu-text {
    font-size: 130%;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
}

#menu-icon {
    margin-right: 0.5em;
}

#menu-icon img {
    height: 2em;
    width: 2em;
    border: 1px solid #ccc;
}

.big-link {
    margin: 0 auto;
    text-align: center;
}

.big-link button {
    width: 60%;
    margin: 0.5em 10em;
}

.w100-link {
    text-align: center;
}

.w100-link button {
    width: 100%;
    margin: 0.5em 0;
}

.w100-link-special button {
    width: 100%;
    margin: 0.5em 0;
}

#search {
    color: #555;
}
#search:focus {
    color: #111;
}

#header-body-reset-app h2 {
    visibility: hidden;
}

#reset-button {
    background-color: #c33;
    border-color: #c11;
    width: 100%;
}
#reset-button:hover {
    background-color: #c55;
    border-color: #c00;
}

#share-output, #share-input {
    color: #111;
    background-color: #fff;
}
#share-output:hover, #share-input:hover {
    color: #111;
    background-color: #f5f5f5;
    border-color: #111;
}

#delete-button button, .confirm-button button {
    width: 100%;
} 
#delete-button button {
    background-color: #c00;
    border-color: #c33;
    margin: 0.5em 0;
}
#delete-button button:hover {
    background-color: #c33;
}

#ui-dialog-body select.macro-dropdown {
    min-width: 18em;
}

.inner-image img {
    height: 2em;
    width: 2em;
    display: inline-block;
}

#version {
    float: right;
    color: lime;
}

input[type=text], select {
    background-color: #fff;
    color: #111;
}

input[type=text]:hover, select:hover, input[type=text]:focus, select:focus, input[type=text]:active, select:active {
    background-color: #fff !important;
}

input[type="file"] {
    display: none;
}

.upload-file {
    display: block;
    cursor: pointer;
	color: #eee;
	background-color: #35a;
	border: 1px solid #57c;
	line-height: normal;
	padding: 0.4em;
	transition-duration: 200ms;
	user-select: none;
    width: 60%;
    margin: 0.5em 10em;
}

.upload-file:hover {
    background-color: #57c;
	border-color: #79e;
}

html.light .upload-file {
    color: #fff;
    background-color: #ee82ee;
    border: 1px solid #9400d3;
}

html.light .upload-file:hover {
    background-color: #9400d3;
    border-color: #9400d3;
}

#errors {
    display: none;
    color: #e22;
    border: 2px solid #f00;
    padding: 1em;
    margin: 1em;
}
#errors.open {
    display: block;
}