/* font options */
html.small #story, html.small #ui-dialog {
    font-size: 14px;
}

html.large #story, html.large #ui-dialog {
    font-size: 18px;
}

html.very-large #story, html.very-large #ui-dialog {
    font-size: 20px;
}

/* light theme */
html.light body {
    background-color: #eee;
    color: #111;
}

html.light #ui-dialog-body, html.light #bumper {
    color: #eee;
    background-color: #111
}

html.light #notify {
    border: 1px solid #111;
    border-right: 0;
}

html.light #top-bar, html.light #bottom-bar {
    background-color: #555;
    border-color: #222;
}

html.light #caption {
    background-color: #111;
    color: #eee;
    border-color: #333;
}

html.light #caption:hover {
    background-color: #000;
}

html.light #caption:hover #caption-link {
    color: #f00;
}

html.light #menu-heading {
    border-color: #111;
}

html.light #main-hub img:hover {
    background: #111;
}

html.light #main-hub img {
    border-radius: 10px;
}

html.light #select-avatar img:hover {
    background: #111;
}

html.light #select-avatar img {
    border-radius: 10px;
}

html.light #story button { 
    color: #fff;
    background-color: #ee82ee;
    border: 1px solid #9400d3;
}

html.light #story button:hover {
    background-color: #9400d3;
    border-color: #9400d3;
}

html.light #story button:disabled {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
}

html.light #story a {
    color: #9400d3;
}

html.light #story a:hover {
    color: #f0f;
}

html.light #story a.link-broken {
    color: #c22;
}

html.light #story a.link-broken:hover {
    color: #e44;
}

html.light #story span.link-disabled{
    color: #aaa; 
}

html.light #ui-dialog-title {
    color: #eee;
}

html.light #debug-bar {
    color: #eee;
}

html.light input[type=text], html.light select {
    color: #111;
    background-color: #fff;
}

html.light select:hover, html.light select:focus {
    border-color: #fff;
    color: #111;
    background-color: #fff;
}

html.light input:hover, html.light input:focus {
    
}

html.light input#gender-slider:focus, html.light input#gender-slider:hover {
    background-color: #fff;
}

@media screen and (min-width: 801px) {
    html.slim #caption {
        width: 4em;
    }
    html.slim #caption-text {
        transform: none;
    }
    html.slim #caption-link {
        transform: rotate(270deg);
    }
}