/* night mode */ 

#top-bar, #bottom-bar {
    box-shadow: 0px 0px 12px #000;
}
#caption {
    box-shadow: 0px 0px 12px #000;
}
.spell-wrapper, .card {
    box-shadow: 0px 0px 12px #000;
}
button {
    box-shadow: 0px 0px 2px #000;
}
.spell-wrapper:active, .spell-wrapper.checked, .card:active, html.texture .spell-wrapper {
    box-shadow: none;
}
#add-all, #remove-all {
    box-shadow: -1px 1px 6px #000;
}

#ui-dialog-close {
    box-shadow: none;
}

div.book-listing.card:hover, div.book-listing.card:active {
    box-shadow: 0px 0px 6px #000;
}

#ui-dialog {
    box-shadow: 2px 2px 32px #000;
}

/* light mode */ 

html.light #top-bar, html.light #bottom-bar {
    box-shadow: 0px 0px 12px #111;
}
html.light #caption {
    box-shadow: 0px 0px 12px #888;
}
html.light .spell-wrapper, html.light .card {
    box-shadow: 0px 0px 12px #888;
}
html.light button {
    box-shadow: 0px 0px 2px #888;
}
html.light .spell-wrapper:active, html.light .spell-wrapper.checked, html.light .card:active {
    box-shadow: 0px 0px 3px #888;
}
html.light #add-all, html.light #remove-all {
    box-shadow: -1px 1px 6px #888;
}

html.light #ui-dialog-body button {
    box-shadow: 0px 0px 2px #000;
}

html.light div.book-listing.card:hover, html.light div.book-listing.card:active {
    box-shadow: 0px 0px 6px #888;
}

/* non-flat cards */
html.texture .spell-wrapper, html.light.texture .spell-wrapper, html.texture .spell-wrapper:hover, html.light.texture .spell-wrapper:hover, html.texture .spell-wrapper:active, html.light.texture .spell-wrapper:active {
    box-shadow: none;
}

button {
    border: 0 !important;
}